.copyright-bg {
    background-color: #f5f7fb;
    padding: 20px 0px;
}

.copyright-text p {
    color: #32313d;
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

.copyright-text p span {
    color: #4440da;
}

.logo-img {
    width: 90px;
}

.logo-img img {
    width: 100%;
}
.footer-logo{
    display: flex;
    align-items: center;
}

.footer-logo p {
    margin: 0;  
    font-size: 20px;
    font-weight: 600;
}

.footer-logo p span {
    color: #4440da;
}

.footer-logo a {
    text-decoration: none;
    color: black;
}